<!DOCTYPE html>
<html>
<head>
    <title>Add New Book</title>
</head>
<body>
    <h1>Add New Book</h1>
    <form method="POST">
        <label>Title:</label>
        <input type="text" name="title" required><br><br>
        
        <label>Author:</label>
        <input type="text" name="author" required><br><br>
        
        <label>Pages:</label>
        <input type="number" name="pages"><br><br>
        
        <label>Published Date:</label>
        <input type="date" name="published"><br><br>
        
        <input type="submit" value="Add Book">
    </form>
</body>
</html>